
@{
    ViewData["Title"] = "Career";
}
<section class="banner-inner-wrapper">
	<div class="container">
		<div class="banner-inner-sec  our-inner-bg career-banner-bg">
			<div class="banner-inner-header ">
				<div class="row">
					<div class="col-lg-6">
						<div class="banner-inner-con">
							<span class="sub-heading">Career</span>
							<div class="thm-heading">
								<h2>Opening Jobs</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner-innersub-con">
							<div class="thm-heading">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="services-wrapper">
	<div class="container">
		<div class="careeer-sec">
			<div class="careeer-list-sec">
				<div class="thm-heading">
					<h3>Regulatory Reporting Manager</h3>
				</div>
				<div class="careeer-sub-list">
					<span>Full time</span>
					<span>office</span>
				</div>
				<div class="careeer-list-item">
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Non blandit massa enim nec scelerisque</li>
						<li>Non blandit massa enim nec scelerisque</li>
						<li>Neque egestas congue quisque egestas</li>
						<li>Neque egestas congue quisque egestas</li>
					</ul>
				</div>
				<button class="thm-btn">Apply now</button>
			</div>
			<div class="careeer-list-sec">
				<div class="thm-heading">
					<h3>Regulatory Reporting Manager</h3>
				</div>
				<div class="careeer-sub-list">
					<span>Full time</span>
					<span>office</span>
				</div>
				<div class="careeer-list-item">
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Non blandit massa enim nec scelerisque</li>
						<li>Non blandit massa enim nec scelerisque</li>
						<li>Neque egestas congue quisque egestas</li>
						<li>Neque egestas congue quisque egestas</li>
					</ul>
				</div>
				<button class="thm-btn">Apply now</button>
			</div>
			<div class="careeer-list-sec">
				<div class="thm-heading">
					<h3>Regulatory Reporting Manager</h3>
				</div>
				<div class="careeer-sub-list">
					<span>Full time</span>
					<span>office</span>
				</div>
				<div class="careeer-list-item">
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Non blandit massa enim nec scelerisque</li>
						<li>Non blandit massa enim nec scelerisque</li>
						<li>Neque egestas congue quisque egestas</li>
						<li>Neque egestas congue quisque egestas</li>
					</ul>
				</div>
				<button class="thm-btn">Apply now</button>
			</div>
		</div>
	</div>
</section>
