
@{
	ViewData["Title"] = "ContactUs";
	ViewBag.IsContact = true;
}
<section class="banner-inner-wrapper">
	<div class="container">
		<div class="banner-inner-sec our-inner-bg contact-inner-bg ps-0 pb-0 pe-0">
			<div class="banner-inner-header ">
				<div class="row">
					<div class="col-lg-6">
						<div class="banner-inner-con">
							<span class="sub-heading">Contact Us</span>
							<div class="thm-heading">
								<h2>We are a team of content writers who share their learnings</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner-innersub-con">
							<div class="thm-heading">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="connect-sec rounded-0 mb-0">
				<div class="ourwork-header">
					<div class="thm-heading">
						<h2>
							Contact <br>
							Information
						</h2>
						<p>Say something to start a live chat!</p>
					</div>
					<div class="contact-list connect-information">
						<ul>
							<li>
								<a href="#">
									<div class="contact-list-con">
										<img src="@Url.Content("/assets/images/call-icon.svg")" alt="">
										<span>+1012 3456 789</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="contact-list-con">
										<img src="@Url.Content("/assets/images/email-icon.svg")" alt="">
										<span>demo@gmail.com</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="contact-list-con">
										<img src="@Url.Content("/assets/images/loction-icon.svg")" alt="">
										<span>
											132 Dartmouth Street Boston, <br> Massachusetts 02156 United
											States
										</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services-wrapper bg-white mt-0 mb-0">
	<div class="container">
		<div class="services-sec bg-transparent rounded-0">
			<div class="contact-sec rounded-0 border-0">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="contact-list-sec customer-img">
							<img src="@Url.Content("/assets/images/customer-img.svg")" alt="">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="contact-form-sec">
							<div class="thm-heading contact-form-heading">
								<h2>Rise a Query</h2>
								<p>Say something to start a live chat!</p>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="contact-item">
										<label for="firstname" class="form-label">First Name</label>
										<input type="text" class="form-control" id="firstname">
									</div>
								</div>
								<div class="col-6">
									<div class="contact-item">
										<label for="lastname" class="form-label">Last Name</label>
										<input type="email" class="form-control" id="lastname">
									</div>
								</div>
								<div class="col-6">
									<div class="contact-item">
										<label for="emailname" class="form-label">Email</label>
										<input type="email" class="form-control" id="emailname">
									</div>
								</div>
								<div class="col-6">
									<div class="contact-item">
										<label for="numbername" class="form-label">Phone Number</label>
										<input type="email" class="form-control" id="numbername">
									</div>
								</div>
								<div class="col-12">
									<div class="subject-sec">
										<h4>Select Subject?</h4>
										<div class="subject-list">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value=""
													   id="flexCheckInquiry">
												<label class="form-check-label" for="flexCheckInquiry">
													General Inquiry
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value=""
													   id="flexCheckDevelopmentt">
												<label class="form-check-label" for="flexCheckDevelopment">
													Web and App Development
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value=""
													   id="flexCheckdesign">
												<label class="form-check-label" for="flexCheckdesign">
													Graphic UI UX design
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="contact-item textarea-sec">
										<label for="messagename" class="form-label">Message</label>
										<textarea class="form-control " id="messagename"
												  placeholder="Write your message.." rows="4"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="contact-form-btn">
							<button class="thm-btn"> Send Message</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>